    <div id="myModal0" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form method="post" action="/corsi/savepro/<%=data[0].id%>">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="closeimg" src="../img/1_formazione/exit_popup.png"></button>
                 <input class="mainTitle" type="text" name="maintitle" required value=<%=main_data[0].maintitle %>>
                    <br>
                    <input class="subTitle" type="text" name="subtitle" required value=<%=main_data[0].subtitle %> >
                    <table style="width:100%;">
                    
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[0].data1%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[0].data2%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[0].data3%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[0].data4%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[0].data5%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[0].data6%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[0].data7%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[0].data8%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[0].data9%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[0].data10%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[0].data11%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[0].data12%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[0].data13%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[0].data14%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[0].data15%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[0].data16%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[0].data17%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[0].data18%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[0].data19%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[0].data20%></textarea></th>
                       
                      </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="myModal1" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form method="post" action="/corsi/savepro/<%=data[1].id%>">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="closeimg" src="../img/1_formazione/exit_popup.png"></button>
                 <input class="mainTitle" type="text" name="maintitle" required value=<%=main_data[1].maintitle %>>
                    <br>
                    <input class="subTitle" type="text" name="subtitle" required value=<%=main_data[1].subtitle %> >
                    <table style="width:111%;">
                    
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[1].data1%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[1].data2%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[1].data3%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[1].data4%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[1].data5%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[1].data6%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[1].data7%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[1].data8%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[1].data9%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data11" required><%=main_data[1].data11%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[1].data10%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[1].data12%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[1].data13%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[1].data14%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[1].data15%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[1].data16%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[1].data17%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[1].data18%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[1].data19%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data11" required><%=main_data[1].data20%></textarea></th>
                       
                      </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="myModal2" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form method="post" action="/corsi/savepro/<%=data[2].id%>">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="closeimg" src="../img/1_formazione/exit_popup.png"></button>
                 <input class="mainTitle" type="text" name="maintitle" required value=<%=main_data[2].maintitle %>>
                    <br>
                    <input class="subTitle" type="text" name="subtitle" required value=<%=main_data[2].subtitle %> >
                    <table style="width:122%;">
                    
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[2].data1%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[2].data2%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[2].data3%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[2].data4%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[2].data5%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[2].data6%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[2].data7%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[2].data8%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[2].data9%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data12" required><%=main_data[2].data10%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[2].data11%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[2].data12%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[2].data13%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[2].data14%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[2].data15%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[2].data16%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[2].data17%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[2].data18%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[2].data19%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[2].data20%></textarea></th>
                       
                      </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="myModal3" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form method="post" action="/corsi/savepro/<%=data[3].id%>">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="closeimg" src="../img/1_formazione/exit_popup.png"></button>
                 <input class="mainTitle" type="text" name="maintitle" required value=<%=main_data[3].maintitle %>>
                    <br>
                    <input class="subTitle" type="text" name="subtitle" required value=<%=main_data[3].subtitle %> >
                    <table style="width:100%;">
                    
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[3].data1%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[3].data2%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[3].data3%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[3].data4%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[3].data5%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[3].data6%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[3].data7%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[3].data8%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[3].data9%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[3].data10%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[3].data11%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[3].data12%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[3].data13%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[3].data14%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[3].data15%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[3].data16%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[3].data17%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[3].data18%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[3].data19%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[3].data20%></textarea></th>
                       
                      </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="myModal4" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form method="post" action="/corsi/savepro/<%=data[4].id%>">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="closeimg" src="../img/1_formazione/exit_popup.png"></button>
                 <input class="mainTitle" type="text" name="maintitle" required value=<%=main_data[4].maintitle %>>
                    <br>
                    <input class="subTitle" type="text" name="subtitle" required value=<%=main_data[4].subtitle %> >
                    <table style="width:100%;">
                    
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[4].data1%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[4].data2%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[4].data3%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[4].data4%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[4].data5%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[4].data6%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[4].data7%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[4].data8%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[4].data9%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[4].data10%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[4].data11%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[4].data12%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[4].data13%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[4].data14%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[4].data15%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[4].data16%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[4].data17%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[4].data18%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[4].data19%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[4].data20%></textarea></th>
                       
                      </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="myModal5" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form method="post" action="/corsi/savepro/<%=data[5].id%>">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="closeimg" src="../img/1_formazione/exit_popup.png"></button>
                 <input class="mainTitle" type="text" name="maintitle" required value=<%=main_data[5].maintitle %>>
                    <br>
                    <input class="subTitle" type="text" name="subtitle" required value=<%=main_data[5].subtitle %> >
                    <table style="width:100%;">
                    
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[5].data1%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[5].data2%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[5].data3%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[5].data4%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[5].data5%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[5].data6%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[5].data7%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[5].data8%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[5].data9%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[5].data10%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[5].data11%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[5].data12%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[5].data13%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[5].data14%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[5].data15%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[5].data16%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[5].data17%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[5].data18%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[5].data19%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[5].data20%></textarea></th>
                       
                      </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="myModal6" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form method="post" action="/corsi/savepro/<%=data[6].id%>">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="closeimg" src="../img/1_formazione/exit_popup.png"></button>
                 <input class="mainTitle" type="text" name="maintitle" required value=<%=main_data[6].maintitle %>>
                    <br>
                    <input class="subTitle" type="text" name="subtitle" required value=<%=main_data[6].subtitle %> >
                    <table style="width:100%;">
                    
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[6].data1%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[6].data2%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[6].data3%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[6].data4%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[6].data5%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[6].data6%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[6].data7%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[6].data8%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[6].data9%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[6].data10%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[6].data11%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[6].data12%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[6].data13%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[6].data14%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[6].data15%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[6].data16%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[6].data17%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[6].data18%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[6].data19%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[6].data20%></textarea></th>
                       
                      </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="myModal7" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form method="post" action="/corsi/savepro/<%=data[7].id%>">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="closeimg" src="../img/1_formazione/exit_popup.png"></button>
                 <input class="mainTitle" type="text" name="maintitle" required value=<%=main_data[7].maintitle %>>
                    <br>
                    <input class="subTitle" type="text" name="subtitle" required value=<%=main_data[7].subtitle %> >
                    <table style="width:100%;">
                    
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[7].data1%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[7].data2%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[7].data3%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[7].data4%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[7].data5%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[7].data6%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[7].data7%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[7].data8%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[7].data9%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[7].data10%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[7].data11%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[7].data12%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[7].data13%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[7].data14%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[7].data15%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[7].data16%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[7].data17%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[7].data18%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[7].data19%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[7].data20%></textarea></th>
                       
                      </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="myModal8" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form method="post" action="/corsi/savepro/<%=data[0].id%>">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="closeimg" src="../img/1_formazione/exit_popup.png"></button>
                 <input class="mainTitle" type="text" name="maintitle" required value=<%=main_data[8].maintitle %>>
                    <br>
                    <input class="subTitle" type="text" name="subtitle" required value=<%=main_data[8].subtitle %> >
                    <table style="width:100%;">
                    
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[8].data1%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[8].data2%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[8].data3%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[8].data4%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[8].data5%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[8].data6%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[8].data7%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[8].data8%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[8].data9%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[8].data10%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[8].data11%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[8].data12%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[8].data13%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[8].data14%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[8].data15%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[8].data16%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[8].data17%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[8].data18%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[8].data19%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[8].data20%></textarea></th>
                       
                      </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="myModal9" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form method="post" action="/corsi/savepro/<%=data[9].id%>">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="closeimg" src="../img/1_formazione/exit_popup.png"></button>
                 <input class="mainTitle" type="text" name="maintitle" required value=<%=main_data[9].maintitle %>>
                    <br>
                    <input class="subTitle" type="text" name="subtitle" required value=<%=main_data[9].subtitle %> >
                    <table style="width:100%;">
                    
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[9].data1%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[9].data2%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[9].data3%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[9].data4%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[9].data5%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[9].data6%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[9].data7%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[9].data8%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[9].data9%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[9].data10%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[9].data11%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[9].data12%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[9].data13%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[9].data14%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[9].data15%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[9].data16%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[9].data17%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[9].data18%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[9].data19%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[9].data20%></textarea></th>
                       
                      </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="myModal10" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form method="post" action="/corsi/savepro/<%=data[10].id%>">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="closeimg" src="../img/1_formazione/exit_popup.png"></button>
                 <input class="mainTitle" type="text" name="maintitle" required value=<%=main_data[10].maintitle %>>
                    <br>
                    <input class="subTitle" type="text" name="subtitle" required value=<%=main_data[10].subtitle %> >
                    <table style="width:100%;">
                    
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[10].data1%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[10].data2%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[10].data3%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[10].data4%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[10].data5%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[10].data6%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[10].data7%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[10].data8%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[10].data9%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[10].data10%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[10].data11%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[10].data12%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[10].data13%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[10].data14%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[10].data15%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[10].data16%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[10].data17%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[10].data18%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[10].data19%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[10].data20%></textarea></th>
                       
                      </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="myModal11" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form method="post" action="/corsi/savepro/<%=data[11].id%>">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="closeimg" src="../img/1_formazione/exit_popup.png"></button>
                 <input class="mainTitle" type="text" name="maintitle" required value=<%=main_data[11].maintitle %>>
                    <br>
                    <input class="subTitle" type="text" name="subtitle" required value=<%=main_data[11].subtitle %> >
                    <table style="width:100%;">
                    
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[11].data1%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[11].data2%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[11].data3%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[11].data4%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[11].data5%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[11].data6%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[11].data7%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[11].data8%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[11].data9%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[11].data10%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[11].data11%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[11].data12%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[11].data13%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[11].data14%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[11].data15%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[11].data16%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[11].data17%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[11].data18%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[11].data19%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[11].data20%></textarea></th>
                       
                      </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="myModal12" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form method="post" action="/corsi/savepro/<%=data[12].id%>">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="closeimg" src="../img/1_formazione/exit_popup.png"></button>
                 <input class="mainTitle" type="text" name="maintitle" required value=<%=main_data[12].maintitle %>>
                    <br>
                    <input class="subTitle" type="text" name="subtitle" required value=<%=main_data[12].subtitle %> >
                    <table style="width:100%;">
                    
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[12].data1%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[12].data2%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[12].data3%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[12].data4%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[12].data5%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[12].data6%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[12].data7%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[12].data8%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[12].data9%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[12].data10%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[12].data11%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[12].data12%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[12].data13%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[12].data14%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[12].data15%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[12].data16%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[12].data17%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[12].data18%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[12].data19%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[12].data20%></textarea></th>
                       
                      </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="myModal3" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form method="post" action="/corsi/savepro/<%=data[13].id%>">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="closeimg" src="../img/1_formazione/exit_popup.png"></button>
                 <input class="mainTitle" type="text" name="maintitle" required value=<%=main_data[13].maintitle %>>
                    <br>
                    <input class="subTitle" type="text" name="subtitle" required value=<%=main_data[13].subtitle %> >
                    <table style="width:100%;">
                    
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[13].data1%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[13].data2%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[13].data3%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[13].data4%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[13].data5%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[13].data6%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[13].data7%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[13].data8%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[13].data9%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[13].data10%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[13].data11%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[13].data12%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[13].data13%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[13].data14%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[13].data15%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[13].data16%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[13].data17%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[13].data18%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[13].data19%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[13].data20%></textarea></th>
                       
                      </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="myModal14" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form method="post" action="/corsi/savepro/<%=data[14].id%>">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="closeimg" src="../img/1_formazione/exit_popup.png"></button>
                 <input class="mainTitle" type="text" name="maintitle" required value=<%=main_data[14].maintitle %>>
                    <br>
                    <input class="subTitle" type="text" name="subtitle" required value=<%=main_data[14].subtitle %> >
                    <table style="width:100%;">
                    
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[14].data1%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[14].data2%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[14].data3%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[14].data4%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[14].data5%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[14].data6%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[14].data7%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[14].data8%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[14].data9%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[14].data10%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[14].data11%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[14].data12%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[14].data13%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[14].data14%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[14].data15%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[14].data16%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[14].data17%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[14].data18%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[14].data19%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[14].data20%></textarea></th>
                       
                      </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="myModal15" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form method="post" action="/corsi/savepro/<%=data[15].id%>">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="closeimg" src="../img/1_formazione/exit_popup.png"></button>
                 <input class="mainTitle" type="text" name="maintitle" required value=<%=main_data[15].maintitle %>>
                    <br>
                    <input class="subTitle" type="text" name="subtitle" required value=<%=main_data[15].subtitle %> >
                    <table style="width:100%;">
                    
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[15].data1%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[15].data2%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[15].data3%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[15].data4%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[15].data5%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[15].data6%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[15].data7%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[15].data8%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[15].data9%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[15].data10%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[15].data11%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[15].data12%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[15].data13%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[15].data14%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[15].data15%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[15].data16%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[15].data17%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[15].data18%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[15].data19%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[15].data20%></textarea></th>
                       
                      </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="myModal16" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form method="post" action="/corsi/savepro/<%=data[16].id%>">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="closeimg" src="../img/1_formazione/exit_popup.png"></button>
                 <input class="mainTitle" type="text" name="maintitle" required value=<%=main_data[16].maintitle %>>
                    <br>
                    <input class="subTitle" type="text" name="subtitle" required value=<%=main_data[16].subtitle %> >
                    <table style="width:100%;">
                    
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[16].data1%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[16].data2%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[16].data3%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[16].data4%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[16].data5%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[16].data6%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[16].data7%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[16].data8%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[16].data9%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[16].data10%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[16].data11%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[16].data12%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[16].data13%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[16].data14%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[16].data15%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[16].data16%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[16].data17%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[16].data18%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[16].data19%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[16].data20%></textarea></th>
                       
                      </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="myModal17" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form method="post" action="/corsi/savepro/<%=data[17].id%>">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="closeimg" src="../img/1_formazione/exit_popup.png"></button>
                 <input class="mainTitle" type="text" name="maintitle" required value=<%=main_data[17].maintitle %>>
                    <br>
                    <input class="subTitle" type="text" name="subtitle" required value=<%=main_data[17].subtitle %> >
                    <table style="width:100%;">
                    
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[17].data1%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[17].data2%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[17].data3%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[17].data4%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[17].data5%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[17].data6%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[17].data7%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[17].data8%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[17].data9%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[17].data10%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[17].data11%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[17].data12%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[17].data13%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[17].data14%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[17].data15%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[17].data16%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[17].data17%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[17].data18%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[17].data19%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[17].data20%></textarea></th>
                       
                      </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="myModal18" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form method="post" action="/corsi/savepro/<%=data[18].id%>">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="closeimg" src="../img/1_formazione/exit_popup.png"></button>
                 <input class="mainTitle" type="text" name="maintitle" required value=<%=main_data[18].maintitle %>>
                    <br>
                    <input class="subTitle" type="text" name="subtitle" required value=<%=main_data[18].subtitle %> >
                    <table style="width:100%;">
                    
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[18].data1%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[18].data2%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[18].data3%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[18].data4%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[18].data5%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[18].data6%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[18].data7%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[18].data8%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[18].data9%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[18].data10%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[18].data11%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[18].data12%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[18].data13%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[18].data14%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[18].data15%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[18].data16%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[18].data17%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[18].data18%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[18].data19%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[18].data20%></textarea></th>
                       
                      </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="myModal19" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form method="post" action="/corsi/savepro/<%=data[19].id%>">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img class="closeimg" src="../img/1_formazione/exit_popup.png"></button>
                 <input class="mainTitle" type="text" name="maintitle" required value=<%=main_data[19].maintitle %>>
                    <br>
                    <input class="subTitle" type="text" name="subtitle" required value=<%=main_data[19].subtitle %> >
                    <table style="width:100%;">
                    
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[19].data1%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[19].data2%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[19].data3%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[19].data4%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[19].data5%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[19].data6%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[19].data7%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[19].data8%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[19].data9%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[19].data10%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data1" required><%=main_data[19].data11%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data2" required><%=main_data[19].data12%></textarea></th>
                       
                      </tr>
                        <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data3" required><%=main_data[19].data13%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data4" required><%=main_data[19].data14%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data5" required><%=main_data[19].data15%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data6" required><%=main_data[19].data16%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data7" required><%=main_data[19].data17%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data8" required><%=main_data[19].data18%></textarea></th>
                       
                      </tr>
                    <tr>
                        <td class="t_title"><textarea class="col1" type="text" name="data9" required><%=main_data[19].data19%></textarea></th>
                        <td class="t_content"><textarea class="col2" type="text" name="data10" required><%=main_data[19].data20%></textarea></th>
                       
                      </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
